* {
    padding: 0px;
    margin: 0px;
  }
  .header {
    background-color:#acece8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
  }
  
  
  .logo {
    width: 150px;
    padding: 15px 5px;
  }
  
  .logo img {
    width: 100%;
  }
  
  
  
  .nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    list-style: none ;
    padding-right:100px;
    gap: 25px;
  }
  .nav-item {
    margin-right: 20px;
    color: var(--neutral-grey-7, #2D2F30);
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 191.667% */
    letter-spacing: 1.2px;
  }
  
  .pic1{
    padding-left: 85px;
    width: 246.697px;
    height: 40px;
    flex-shrink: 0;
  }
  #main_content{
    width: 1440px;
    height: 924px;
    flex-shrink: 0px;
    background-color: #18736d;
    padding: 80px;
  }